In [2]:
import pandas as pd
COVID=pd.read_csv("COVID19.csv")
COVID.head(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513,2201,41727,8585,Afghanistan,134.896578,4.191343
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316,1181,33634,23501,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897,2762,67395,29740,Algeria,227.809861,2.764848
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117,84,7463,570,Andorra,10505.403482,1.034865
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568,405,11146,6017,Angola,53.452981,2.305328
5,NaN,NaN,NaN,Antigua and Barbuda,2021-01-02 05:22:33,17.06080,-61.796400,159,5,148,6,Antigua and Barbuda,162.364186,3.144654
6,NaN,NaN,NaN,Argentina,2021-01-02 05:22:33,-38.41610,-63.616700,1629594,43319,1426676,159599,Argentina,3605.633332,2.658269
7,NaN,NaN,NaN,Armenia,2021-01-02 05:22:33,40.06910,45.038200,159738,2828,143355,13555,Armenia,5390.664389,1.770399
8,NaN,NaN,Australian Capital Territory,Australia,2021-01-02 05:22:33,-35.47350,149.012400,118,3,114,1,"Australian Capital Territory, Australia",27.563653,2.542373
9,NaN,NaN,New South Wales,Australia,2021-01-02 05:22:33,-33.86880,151.209300,4947,54,0,4893,"New South Wales, Australia",60.938655,1.091571

In [3]:
COVID.isnull().sum()

FIPS                   746
Admin2                 741
Province_State         178
Country_Region           0
Last_Update              0
Lat                     89
Long_                   89
Confirmed                0
Deaths                   0
Recovered                0
Active                   0
Combined_Key             0
Incident_Rate           89
Case_Fatality_Ratio     48
dtype: int64

In [4]:
COVID.head(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513,2201,41727,8585,Afghanistan,134.896578,4.191343
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316,1181,33634,23501,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897,2762,67395,29740,Algeria,227.809861,2.764848
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117,84,7463,570,Andorra,10505.403482,1.034865
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568,405,11146,6017,Angola,53.452981,2.305328
5,NaN,NaN,NaN,Antigua and Barbuda,2021-01-02 05:22:33,17.06080,-61.796400,159,5,148,6,Antigua and Barbuda,162.364186,3.144654
6,NaN,NaN,NaN,Argentina,2021-01-02 05:22:33,-38.41610,-63.616700,1629594,43319,1426676,159599,Argentina,3605.633332,2.658269
7,NaN,NaN,NaN,Armenia,2021-01-02 05:22:33,40.06910,45.038200,159738,2828,143355,13555,Armenia,5390.664389,1.770399
8,NaN,NaN,Australian Capital Territory,Australia,2021-01-02 05:22:33,-35.47350,149.012400,118,3,114,1,"Australian Capital Territory, Australia",27.563653,2.542373
9,NaN,NaN,New South Wales,Australia,2021-01-02 05:22:33,-33.86880,151.209300,4947,54,0,4893,"New South Wales, Australia",60.938655,1.091571

In [36]:
COVID.drop(['Incident_Rate', 'Case_Fatality_Ratio'], axis=1, inplace=True)
COVID.head(10)

,Country_Region,Confirmed,Deaths,Recovered,Active,Combined_Key
0,Afghanistan,52513,2201,41727,8585,Afghanistan
1,Albania,58316,1181,33634,23501,Albania
2,Algeria,99897,2762,67395,29740,Algeria
3,Andorra,8117,84,7463,570,Andorra
4,Angola,17568,405,11146,6017,Angola
5,Antigua and Barbuda,159,5,148,6,Antigua and Barbuda
6,Argentina,1629594,43319,1426676,159599,Argentina
7,Armenia,159738,2828,143355,13555,Armenia
8,Australia,118,3,114,1,"Australian Capital Territory, Australia"
9,Australia,4947,54,0,4893,"New South Wales, Australia"

In [37]:
COVID.head(10)

,Country_Region,Confirmed,Deaths,Recovered,Active,Combined_Key
0,Afghanistan,52513,2201,41727,8585,Afghanistan
1,Albania,58316,1181,33634,23501,Albania
2,Algeria,99897,2762,67395,29740,Algeria
3,Andorra,8117,84,7463,570,Andorra
4,Angola,17568,405,11146,6017,Angola
5,Antigua and Barbuda,159,5,148,6,Antigua and Barbuda
6,Argentina,1629594,43319,1426676,159599,Argentina
7,Armenia,159738,2828,143355,13555,Armenia
8,Australia,118,3,114,1,"Australian Capital Territory, Australia"
9,Australia,4947,54,0,4893,"New South Wales, Australia"

In [38]:
import numpy as np
COVID_cat = COVID.select_dtypes(object)
COVID_num = COVID.select_dtypes(np.number)
COVID_cat.head()

  Country_Region Combined_Key
0    Afghanistan  Afghanistan
1        Albania      Albania
2        Algeria      Algeria
3        Andorra      Andorra
4         Angola       Angola

In [39]:
COVID_num.head()

   Confirmed  Deaths  Recovered  Active
0      52513    2201      41727    8585
1      58316    1181      33634   23501
2      99897    2762      67395   29740
3       8117      84       7463     570
4      17568     405      11146    6017

In [40]:
COVID_cat.isnull().sum()

Country_Region    0
Combined_Key      0
dtype: int64

In [41]:
COVID_num.isnull().sum()

Confirmed    0
Deaths       0
Recovered    0
Active       0
dtype: int64

In [49]:
COVID_final = pd.concat([COVID_cat,COVID_num],axis=1)
COVID_final.head()
COVID_final.drop(['Country_Region', 'Combined_Key'], axis=1, inplace=True)

In [50]:
X = COVID_final.drop(['Deaths'],axis=1)
Y = COVID_final['Deaths']
X_train = np.array(X[0:int(0.80*len(X))])
Y_train = np.array(Y[0:int(0.80*len(Y))])
X_test = np.array(X[int(0.80*len(X)):])
Y_test = np.array(Y[int(0.80*len(Y)):])
len(X_train), len(Y_train), len(X_test), len(Y_test)

(3208, 3208, 803, 803)

In [51]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [52]:
LR = LogisticRegression()
KNN = KNeighborsClassifier()
NB = GaussianNB()
LSVM = LinearSVC()
NLSVM = SVC(kernel='rbf')
DT = DecisionTreeClassifier()
RF = RandomForestClassifier()

In [53]:
LR_fit = LR.fit(X_train, Y_train)
KNN_fit = KNN.fit(X_train, Y_train)
NB_fit = NB.fit(X_train, Y_train)
LSVM_fit = LSVM.fit(X_train, Y_train)
NLSVM_fit = NLSVM.fit(X_train, Y_train)
DT_fit = DT.fit(X_train, Y_train)
RF_fit = RF.fit(X_train, Y_train)
LR_pred = LR_fit.predict(X_test)
KNN_pred = KNN_fit.predict(X_test)
NB_pred = NB_fit.predict(X_test)
LSVM_pred = LSVM_fit.predict(X_test)
NLSVM_pred = NLSVM_fit.predict(X_test)
DT_pred = DT_fit.predict(X_test)
RF_pred = RF_fit.predict(X_test)

c:\Users\Joshua\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\Joshua\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [55]:
from sklearn.metrics import accuracy_score
print("Logistic Regression is %f percent accurate" % (accuracy_score(LR_pred, Y_test)*100))
print("KNN is %f percent accurate" % (accuracy_score(KNN_pred, Y_test)*100))
print("Naive Bayes is %f percent accurate" % (accuracy_score(NB_pred, Y_test)*100))
print("Linear SVMs is %f percent accurate" % (accuracy_score(LSVM_pred, Y_test)*100))
print("Non Linear SVMs is %f percent accurate" % (accuracy_score(NLSVM_pred, Y_test)*100))
print("Decision Trees is %f percent accurate" % (accuracy_score(DT_pred, Y_test)*100))
print("Random Forests is %f percent accurate" % (accuracy_score(RF_pred, Y_test)*100))

Logistic Regression is 4.109589 percent accurate
KNN is 7.347447 percent accurate
Naive Bayes is 4.234122 percent accurate
Linear SVMs is 4.358655 percent accurate
Non Linear SVMs is 5.230386 percent accurate
Decision Trees is 7.347447 percent accurate
Random Forests is 9.339975 percent accurate

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
seed=0
cv = StratifiedKFold(n_splits=5,random_state=2, shuffle=True)
def return_score(model, X_train, X_test, Y_train, Y_test):
    model.fit(Y_train, Y_train)
    score = model.score(X_test, Y_test)
    return score
scores = []
model = RandomForestClassifier()
for train_index, test_index in cv.split(X,Y):
    X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)
    score = return_score(model,X_train, X_test, Y_train, Y_test)
    scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("StatifiedK-Fold Score: {}".format(np.mean(scores)))

c:\Users\Joshua\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[ 37.  22.   8. ...  33. 542.   0.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.